<% if !user_signed_in? %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<%= javascript_tag do %>
	$(".sidebar_text a").removeClass("current");
	$("#pick a").addClass("current");
<% end %>

<div id="location">
	<div class="field">
		<p>Please enter your current city: </p>
	    <%= text_field_tag "city", nil, :id => "cityvalue" %>
	</div>
    <div class="actions">
        <%= button_tag "Enter", :id => "citybutton" %>
    </div>
</div>
<div id="listchoicebox" class="hide field">
	<p class="inline">Choose from:&nbsp;&nbsp;</p>
	<%= collection_select(:restaurant, :list_id, current_user.lists, :id, :name, {:prompt => "All results"}, {:id => "pickchoice"})%>
</div>
<div id="pickspace"></div>
<div id="pickagainbox" class="hide field">
	<p class="inline">Add to list:&nbsp;&nbsp;</p>
	<%= collection_select(:restaurant, :list_id, current_user.lists, :id, :name, {}, {:id => "addchoice"}) %>
	<%= button_tag "Enter", :id => "addtolistbutton" %>
	<div><%= button_tag "Pick Again", :id => "pickagainbutton" %></div>
</div>
